.father {
    width: 500px;
    height: 600px;
}
.header {
    height: 60px;
    background: darkslategray;
}
.item1 {
    height: 380px;
    display: flex;
}
.item2 {
    height: 100px;
    display: flex;
}
.footer {
    height: 60px;
    background: firebrick;

}
.related1 {
    width: 350px;
    background: darkcyan;
    border-top: 5px solid white;
    border-right: 5px solid white;
    border-bottom: 5px solid white;
}
.related2 {
    width: 150px;
    background: cornflowerblue;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
}
.left {
    width: 180px;
    border-top: 5px solid white;
}
.right {
    width: 320px;
    border-top: 5px solid white;
}
.hero {
    height: 150px;
    background: forestgreen;
    border-right: 5px solid white;
    border-bottom: 5px solid white;
}
.sidebar {
    height: 230px;
    background: coral;
    border-right: 5px solid white;
}
.main {
    height: 270px;
    background: darkturquoise;
    border-bottom: 5px solid white;
}
.extra {
    height: 120px;
    background: seagreen;
}


.main1 {
    width: 300px;
    height: 900px;
    border: 1px solid lightgrey;
}
.a1 {
    height: 170px;
    background: lightgrey;
}
.a2 {
    height: 80px;
    background: white;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}
.a3 {
    height: 240px;
    background: lightgrey;
}
.a4 {
    height: 320px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.a5 {
    height: 90px;
    background: lightgrey;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.d1 {
    height: 80px;
    display: flex;
}
.c1 {
    width: 100px;
}
.b1 {
    width: 210px;
}
.b2 {
    width: 90px;
}
.f1 {
    width: 90px;
}
.f2 {
    width: 210px;
}
.border {
    border-right: 5px solid white;
    border-bottom: 5px solid white;
}
.border2 {
    border-bottom: 5px solid white;
}
.border3 {
    border-bottom: 5px solid white;
    border-right: 5px solid white;
}
.border4 {
    border-bottom: 5px solid white;
}
.border5 {
    border-right: 5px solid white;
}

.g1 {
    height: 50px;
    width: 100px;
    background: lightgrey;
}
.gap {
    margin-left: 10px;
}

.m1 {
    height: 55px;
    width: 40px;
    background: darkgrey;
    border: 1px solid wheat;
}
.w1 {
    width: 250px;
    height: 5px;
    background: grey;
}
.w2 {
    width: 200px;
    height: 5px;
    background: grey;
}
.w3 {
    width: 150px;
    height: 5px;
    background: grey;
}


